*{
  margin: 0px ;
  padding: 0px ;
}
/* body{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
  width: 100wh;
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:60px;
}
.box{
  background-color: yellow;
  padding:50px 20px;
  border-radius: 10px;
  font-weight: bold;
}
.box-off{
  background-color:black;
  color:white;
  padding:50px 20px;
  border-radius: 10px;
  font-weight: bold;
}
.button{
  display: flex;
  justify-content: space-around;
  gap:60px;
}

.switch {
  background-color: gray;
  padding:20px 15px;
  border-radius:10px;
  color:white;
  cursor:pointer;
} */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
